%div.content-container
  .header
    %span My Music
    .header-line
  %div.content
    %br
    .music-subheader Bandcamp:
    %ul.music-listing
      %li
        %a{href: 'https://elirobertsmusic.bandcamp.com/album/mogo'} Opera Stuff
      %li
        %a{href: 'https://elirobertsmusic.bandcamp.com/album/the-sandwich-artistry-of-eli-roberts'} Solo Stuff

