%div.content-container
  .header
    %span Contact Me
    .header-line
  %div.content
    .email-body
      %span Email me at 
      %span
        %a{href: 'mailto: elirobertsmusic@gmail.com!'}elirobertsmusic@gmail.com
