/*
*= require material_icons
*/

@import 'materialize';


$green: #4E8844;
$blue: rgb(86, 112, 141);
$dark: rgb(74,74,74);

@mixin papyrus {
  font-family: 'Papyrus';
}
@mixin dark {
  color: rgb(74,74,74);
}
@mixin white {
  color: white;
}
@mixin background {
  background-color: black;
}
@mixin green {
  color: $green;
}
@mixin blue {
  color: $blue;
}

div {
  @include papyrus;
  @include green;
}


#nav-bar {
  @include background;

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(110,110,110);

  .nav-item {
    @include papyrus;
    @include white;
    margin-top: 15px;
    font-weight: 500;
    font-size: 4vh;
  }
  .separator {
    margin-top: 15px;
    width: 1px;
    height: 2.5vh;
    background-color:  rgb(110,110,110);
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-item:hover {
    color: $green;
  }

  img {
    height: 100%;
    width: auto;
  }
}

#footer {
  @include background;
  @include papyrus;

  display: flex;
  width: 100%;
  align-items: center;

  height: 8vh;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(110,110,110);

  .left-side {
    margin-left: 4vw;
    img {
      height: 20px;
      width: 20px;
      margin-left: 5px;
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    font-family: 'Papyrus';
    margin-left: auto;
    float: right;
    margin-right: 2vw;
    font-size: 10px;
    a {
      color: white !important;
      padding-left: 2px;
    }
    .material-icons {
      margin-right: 3px;
      font-size: 12px !important;
    }
  }
}

.google-calendar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  .subcontainer {
    padding: 15px 2vw;
    border-radius: 10px;
    background: white;
  }
}
#photo-slideshow{
  background: rgb(245,245,245);
  width: 100%;
  padding: 3px 0;

  img {
    border-radius: 10px;
    z-index: 0;
    margin: 0 auto;
    height: 77vh;
    width: auto;
    max-width: 100%;
    box-shadow: 0px 0px 6px black;
  }
}

.content-container {
  @include background;
  min-height: 77vh;
  width: 100%;

  .music-subheader {
    @extend .subheader;
    margin-bottom: 10px;
    font-size: 2.8vw;
  }
  
  ul.music-listing {
    font-family: 'Papyrus';
    font-size: 2.4vw;
    color: rgb(110,110,110) !important;
    li {
      list-style-type: circle !important;
    }
    margin: 0 15%;
  }
  padding: 2vh 0;
}

.content {
  @include background;
  a {
    color: $green !important;
  }
  height: 100%;
  min-height: 77vh;
  margin: 0 10vw;
  padding-bottom: 35px;
  border-radius: 10px;
}

.header {
  @include background;
  @include white;
  padding-top: 15px;
  padding-bottom: 25px;
  font-family: 'Papyrus';
  font-weight: 600;
  font-size: 3vw;
  text-align: center;
  width: 100%;
}
.header-line {
  margin: 3px;
  background: $dark;
  width: 80%;
  height: 1px;
  margin: 3px auto;
}

.subheader {
  @include papyrus;
  @include white;
  font-size: 2.0vw;
  font-weight: 600;
  margin-left: 25px;
  padding: 8px 0;
  padding-top: 25px;
}

.resume-table {
  @include papyrus;
  @include green;
  width: 95%;
  margin-left: 25px;
  padding-right: 35px;
  th {
    color: $dark;
  }
}

.email-body {
  @include papyrus;
  @include dark;
  padding: 35px;
  font-size: 3vw;
  text-align: center;
}
